body{
    background-color: #040f7f;
}
h1{
    color: white;
    font-family: 'poppins', sans-serif;
    text-align: center;
}
#logueo, #guardar{
    background-color: black;
    color: white;
    border: 1px solid #4fb1ff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}
#logueo:hover, #guardar:hover{
    background-color: #97c8ff;
    color: black;
}
#contenedor{
    width: auto;
    text-align: center;
}
#foto {
    width: 50%;
    height: 400px;
    margin: 0 auto;
    position: relative;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQQ4js5hSZAt5Aya8AnF3Se-cz8_7US3txj6g&usqp=CAU");
    background-size: contain;
    background-repeat: no-repeat;
}
